/* Futura Font Family */
@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FUTURA55REGULAR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FUTURA65MEDIUM.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}